<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rong.cheng.textcolorchanged">

    <application>
        <activity android:name=".TextColorChangedActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".TextActivity" />
    </application>

</manifest>